
*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

/* font-style */
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* width */
.container-width{
    max-width: 1140px;
    margin: auto;
}

/* shared */
.primary-span{
    color: rgba(233, 90, 8, 1);}

 .primary-btn{
    background-color: rgba(233, 90, 8, 1);
    border: none;
    color: white;}   

/* nav style */

.nav{
    display: flex;
    justify-content: space-between;
}

.none-button{
    display:flex ;
    gap: 48px;
}

.nav-button{
    list-style: none;
    display: flex;
    gap: 48px;
    margin-top: 35px;
}
.nav-button,a{
    text-decoration: none;
}
#home,a{
    color: rgba(37, 36, 50, 1);
}
#shop,a{
    color: rgba(137, 135, 161, 1);
}
#about,a{
    color: rgba(137, 135, 161, 1);
}
#cart,a{
    color: rgba(0, 0, 0, 1);
}
/* end */

/* banner-style */
.banner{
    padding-top: 280px;
    display: flex;
   justify-content: center;
    
}
.main-img{
  max-width: 100%;
}


.title-h3{
    font-size: 65px;
    font-weight: bold;
}

.title-para{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
}

.banner-title{
    width: 100%;
}
/* end */

/* plants-section */

.plants{
    padding-top: 110px;
}

.plants-title{
    font-size: 50px;
    font-weight: bold;}

.plants-para{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;}

.plnats-contain{
    text-align: center;}

.add-btn{
    padding: 19px 87px 19px 87px;
    margin-top: 25px;
}

.lily{
   padding-top: 25px;
   padding-left: 80px;
   padding-right: 80px;
}
.usd{
    padding-top: 7px;
    padding-left: 97px;
    padding-right: 97px;
}

.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 50px;
   row-gap:30px; 
    
}






/* media-query */
@media (max-width: 431px){
    
    /* nav */
     .nav{
        margin-left: 23px;}
  .none-button{
        display: none;}
    .carts{
        font-size: 30px;
        position: absolute;
        right: -120px;
         top: 15px;}
/* end */

    /* banner */
      .banner{
        flex-direction:column-reverse;
        padding-top: 100px;
      }
   .title-h3{
        font-size: 40px;
        margin-top: 20px;}

        .banner-title{
            margin-left: 30px;
        }
/* end */

/* plants-section */
    .card{
        grid-template-columns: repeat(2,1fr);
        margin: 0px 8px;
        column-gap: 15px;
    }
       .plnats-contain{position: relative;
                      left:16%;}  
    /* end */
    
   

      }


      

    






